@keyframes moveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.animateUpDown {
    animation: moveUpDown 2s linear infinite;
}